@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


body {
    background: linear-gradient(45deg,  #04bfac62 0%,#04BFAD );
    

}
header {
    background-color: #06524a70;
    color: black;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: justify;
    text-align: center;
    font-family: 'Antonio', sans-serif;
    font-size: 40px;

}

section { 
    height: 750px;
    width: 750px;
    margin: auto;
    margin-top: 50px;
    background-color: #027373;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #00000040;
}

section > p {
    color: white;
    padding: 50px 18px 5px 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

label {
    display: block;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 2em;
    font-size: 20px;
    width: 65%;
}
form {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2-px;
}

#txt1, #txt2 {
    display: block;
    background-color: black;
    color: rgba(255, 255, 255, 0.541);
    margin: 10px auto 15px auto;
    height: 35px;
    width: 340px;
}
#button {
    background-color: #04BF9D;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    width: 150px;
    margin-top: 25px;
    border-radius: 8px;
}

#res {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 50px;
    font-size: 1.3em;
    font-weight: bold;
}

a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    transition: 700ms;
}

footer {
    background-color: #06524a70;
    text-align: center;
    margin-top: 327px;
    padding: 16px;
    text-decoration: none;

}